body{
    min-height: 620px;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    border-left: 1px solid black;
   // border-right:  1px solid black;
    font-family: Consolas;

}

.sidebar1 {
    border: 1px solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-bottom: none;  
    border-left: none;
    border-right: none;
}


.main-content{
    border-right: none;
    padding-bottom: 00px;
    min-height: 120%;
}
.left-navigation{
 
}

.logo {

    align-self: center;
     margin-top: 20%;
    min-height: 20px; 
    padding: 3px;
    width: 60%;
    border: 1px solid;
    text-align: center;
    background: lightgrey;
}
.logo>img {
   
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 3px;
    border: 1px solid;
    
}
.list {
       display: flex;
      flex-direction: column; 
       list-style: none;
      
       padding-left: 0px;
       margin-right: 0%;
}

.list::first-line {
    color: orange;
}
.list> li, h5 {
    margin-top: 10px;
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: #D8D8D8;
    font-weight: bolder;
    padding-left: 40px;


}.main-content{
text-align:center;
}

.search_div{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 40px;
    border: 1px solid;
    border-bottom: none;
}
.dashboard_search{
    width: 25%;
    padding: 6px 4px;
    margin: 5px;
    border: 1px solid black;
    
}



.dashboard_field{
    /* display: flex;
    flex-wrap: wrap; */
    padding-top: 20px;
    border: 1px solid;
    min-height: 534px;


}
/* .dashboard_field>div{
    border: 1px solid;
    width: 350px;
    padding: 20px;
    margin: 25px;
    margin-left: 50px;
}
 */

 hr {
    border: none;
    height: 1px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    width:95%;
}

.customers{
    background: lightgrey;
}
th{
    text-align: center;
}

.view{
   border: 2px solid grey;
    border-spacing: 1px;
    margin-bottom: 5px;
    font-size: 14px;
    background: lightgrey;
}

.table{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.borderless td, .borderless th{
    border: none;
}

.wide{
    width:98%;
    margin: 10px;
}
td{
    text-align: left;
}
td>input{
     margin: 10px;
       
}

._{
    //border: none;
   // border:1px solid red;
    width:50%;
  
}


.view{
   border: 2px solid grey;
    border-spacing: 1px;
    margin-bottom: 5px;
    font-size: 14px;
    background: lightgrey;
    float: right;

    padding: 0px 40px;
}

.expense_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expense_img{
    border: 1px solid black;
    width: 230px;
    height: 300px;
    text-align: center;

}
.viewimage_button{
    margin-top: 20px;
    border: 1px solid;
    background: white!important;
    padding: 4px ;
}
