body{
    min-height: 620px;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    border-left: 1px solid black;
  //  border-right:  1px solid black;
    font-family: Consolas;
}

.sidebar1 {
    border: 1px solid black;
    padding: 0px;
    min-height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-left: none;
    border-right: none;
    border-bottom: none;

}


.main-content{
    padding-left: 0px;
    min-height: 120%;
}
.left-navigation{
 
}

.logo {

    align-self: center;
     margin-top: 20%;
    min-height: 20px; 
    padding: 3px;
    width: 60%;
    border: 1px solid;
    text-align: center;
    background: lightgrey;
}
.logo>img {
   
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 3px;
    border: 1px solid;
    
}
.list {
       display: flex;
      flex-direction: column; 
       list-style: none;
      
       padding-left: 0px;
       margin-right: 0%;
}

.list::first-line {
    color: orange;
}
.list> li, h5 {
    margin-top: 10px;
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: #D8D8D8;
    font-weight: bolder;
    padding-left: 40px;


}.main-content{
text-align:center;
}

.username_div{
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 40px;
    border: 1px solid;
    border-bottom: none;
}
.user_namefield{
    width: 25%;
    padding: 6px 4px;
    margin: 5px;
    border: 1px solid black;
    
}

.dashboard_field{
    border: 1px solid;
    min-height: 580px;
    border-bottom: none;


}

.users{
    background: lightgrey;
}
th{
    text-align: center;
}

.view{
   border: 2px solid grey;
    border-spacing: 1px;
    margin-bottom: 5px;
    font-size: 14px;
    background: lightgrey;
}





.heading_div{
  
}
.report_heading{
    margin-left: 0%;
    
 
}
.report_heading>h4{
    margin-left: 0%;
    font-weight: bold;
 
}
.report_heading_below{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    
}
.search_date{
    width: 22%;
    padding: 5px 10px ;
    border: 1px solid black;
    text-align: left;
    margin-left: 20px;

}
.report_filter{
    margin-top: 0%;
    font-weight: bold;
    padding: 5px 10px ;
    text-align: left;
}

/* table properties */
table#t01{
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table#t01 th {
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
}

.headerborder{
    border: 2px solid grey;
}