
html,body{
    margin: 0px;
    height: 100%;
} 
body{
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    border-left: 1px solid black;
    border-right:  1px solid black;

    font-family: Consolas;
}

.sidebar1 {
    padding: 0px;
    min-height: 662px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-top: 1px solid;
   border-right: 1px solid;
   align-items: content;
}


.main-content{
    padding-left: 0px;
}
.left-navigation{
 
}

.logo {

    align-self: center;
     margin-top: 20%;
    min-height: 20px; 
    padding: 3px;
    width: 60%;
    border: 1px solid;
    text-align: center;
    background: lightgrey;
}
.logo>img {
   
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 3px;
    border: 1px solid;
    
}
.list {
       display: flex;
      flex-direction: column; 
       list-style: none;
      
       padding-left: 0px;
       margin-right: 0%;
}

.list::first-line {
    color: orange;
}
.list> li, h5 {
    margin-top: 10px;
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: #D8D8D8;
    font-weight: bolder;
    padding-left: 40px;


}.main-content{
text-align:center;
}

.search_div{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px solid;
    border-bottom: none;
    border-left: none;
    min-height: 40px;
}
.dashboard_search{
    width: 25%;
    padding: 6px 4px;
    margin: 5px;
    border: 1px solid black;
    
}

.dashboard_field{
    display: flex;
    flex-wrap: wrap; 
    border: 1px solid;
    min-height: 577px;
    border-left:none;
    border-bottom: none;


}
.dashboard_field>div{
    border: 1px solid;
    width: 350px;
    padding: 20px;
    margin: 25px;
    margin-left: 50px;
}

.customers_child, .agents_child, .subscriptions_child, .tax_returns_child{
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
}

.dashboard{
    background: lightgrey;
}