
html,body{
	margin: 0px;
	height: 100%;
}


body{
	
	margin-left: 10%;
	margin-right: 10%;
	border-collapse: collapse;
	border-left: 1px solid black;
	border-right:  1px solid black;
	font-family: Tahoma;

}
.home{
	min-height: 620px;
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-direction: column;
}

.loginform{
	width: 23%;
	padding: 10px;
	padding-left: 0px;
	align-content: left;
}

.logo{
	width: 20%;
	padding: 20px;
	border: 1px solid black;
	text-align: center;
}

.username, .password{
	width: 100%;
	padding: 10px 4px;
	margin-top: 5px;
	border: 1px solid black;
	
}

.loginbutton{
	background-color: #e7e7e7; /* Gray */
    border: 1px solid black;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-family: Tahoma;
    font-size: 16px;
    margin: auto 30%;
    margin-top: 12%;
    cursor: pointer;

}